@import '../../../common';
.simpleInput{
  text-align: center;
  b{
    color: #6f6f6f;
    font-weight: 100;
    font-size: 12px;
  }
  input{
    min-width: 40px;
    max-width: 100px;
    padding: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
  }
}
.methodInput{

}
.listInput{
  .addButton{
    padding:5px;
    cursor:pointer;
    color: $primaryColor;
  }
  ul.list{
    list-style: none;
    margin: 0 0px 10px;
    padding: 4px 3px 10px;
    li.listRow{
    }
  }
}
.objectInput{
  ul.obj{
    list-style: none;
    margin: 0;
    padding: 0;
    /* clear: both; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    align-content: space-between;
    li.objProp{
      flex: 1 1 auto;
    }
  }
}
