<!--number type-->
<div *ngIf="propertyType.isNumber()">
  <b>{{propertyType.name}}</b>
  <input [placeholder]="propertyType.name" [title]="propertyType.description" type="number" [(ngModel)]="properties[propertyType.name]" (change)="dataChanged()">
</div>

<!--string type-->
<div *ngIf="propertyType.isString()">
  <b>{{propertyType.name}}</b>
  <input [placeholder]="propertyType.name" [title]="propertyType.description" [(ngModel)]="properties[propertyType.name]" (change)="dataChanged()">
</div>

<!--function type-->
<div *ngIf="propertyType.isMethod()">
  <b>{{propertyType.name}}</b>
  <select (change)="dataChanged()">
    <option *ngFor="let opt of propertyType.params" [title]="opt.desc">opt.name</option>
  </select>
</div>

<!--list type-->
<div *ngIf="propertyType.isList()">
  <b>{{propertyType.name}}</b>
  <a (click)="properties[propertyType.name].push({})">add</a>
  <ul>
    <li *ngFor="let prop of properties[propertyType.name]">
      <rxstudio-property-component [type]="propertyType.params" [properties]="properties[propertyType.name]"></rxstudio-property-component>
    </li>
  </ul>
</div>

<!--Object type-->
<div *ngIf="propertyType.isObject()">
  <b>{{propertyType.name}}</b>
  <ul>
    <li *ngFor="let objPropType of propertyType.params">
      <rxstudio-property-component [type]="objPropType" [properties]="properties"></rxstudio-property-component>
    </li>
  </ul>
</div>
