$headColor:#746;
$rxColor:#ec0c8e;
$borderColor:#eee;
$backColor:#fff;

.app{
  height:100%;
  padding:0;
  overflow: hidden;

  .header{
    background: $headColor;
    h1{
      margin:0;
      padding: 9px;
      font-size: 1rem;
      color:$rxColor;
    }
    button{
      border: none;
      background: #ec0c8e;
      color: #ffffff;
      font-weight: bold;
      border-radius: 3px;
      font-size: 16px;
      margin: 5px;
      padding: 5px 15px;
      i{
        font-size:inherit;
      }
    }
  }
  .sceneContainer {
    position: relative;
    border:1px solid $borderColor;
    rxstudio-scene{
      width: 100%;
      height: 100%;
      position: absolute;
    }
    button {
      border: none;
      color: #ffffff;
      background: $rxColor;
      border-radius: 50%;
      padding: 8px 9px 8px 10px;
      outline: none;
      position: absolute;
      z-index: 1;
      width: 45px;
      height: 45px;
      &.active {
        background: $rxColor;
        color: $backColor;
      }
      &.replay{
        right:0;
        background: none;
        color: #333;
      }
      &.add{
        right:15px;
        bottom:15px;
      }
    }
  }
  rxstudio-creation-menu{

  }
  rxstudio-property-inspector{
    width:400px;
  }
  rxstudio-status{
    height:20px;
  }
}

.overlay{
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index: 5;
  background: rgba(0,0,0,0.2);
  .shareBox{
    position: absolute;
    width: 300px;
    right: 0;
    top: 30px;
    background: #fff;
    border:1px solid silver;
    border-radius: 3px;
    .shareBoxContainer{
      padding: 20px 30px;
      h5{
        margin:0;
      }
      div.copyBox {
        display:flex;
        input {
          flex: 1 1 auto;
          padding: 6px 3px;
          border: 1px solid #ddd;
        }
        button {
          padding: 6px;
          margin: 0;
        }
      }
    }
  }
}
