<div fxLayout="column" fxLayoutAlign="stretch" class="app">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>RX Studio</h1>
    <button (click)="share()"  title="share">share <i class="material-icons">share</i></button>
    <div class="overlay" *ngIf="serializedUrl" (click)="serializedUrl='';">
      <div class="shareBox" (click)="$event.stopPropagation();">
        <div class="shareBoxContainer">
          <h5>Share your work</h5>
          <div class="copyBox">
            <input #inputTarget [value]="serializedUrl">
            <button [ngxClipboard]="inputTarget">copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<rxstudio-control-scene></rxstudio-control-scene>-->
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <div fxFlex class="sceneContainer">
      <button (click)="showCreationMenuToggle()" [class.active]="showCreationMenu" title="show tools" class="add">
        <i class="material-icons">add</i>
      </button>
      <button (click)="replay()" title="replay" class="replay"><i class="material-icons">play_circle_outline</i></button>
      <rxstudio-scene fxFlex></rxstudio-scene>
      <rxstudio-creation-menu (onSelect)="showCreationMenu=false" *ngIf="showCreationMenu"></rxstudio-creation-menu>
    </div>
    <rxstudio-property-inspector></rxstudio-property-inspector>
  </div>
  <!--<rxstudio-status></rxstudio-status>-->
</div>
