<div fxLayout="column" fxLayoutAlign="stretch" class="app">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>RX Studio</h1>
    <button (click)="share()"  title="share">share <i class="material-icons">share</i></button>
    <div class="overlay" *ngIf="serializedUrl" (click)="serializedUrl='';">
      <div class="shareBox" (click)="$event.stopPropagation();">
        <div class="shareBoxContainer">
          <h2>Share</h2>
          <div class="copyBox">
            <input #inputTarget [value]="serializedUrl">
            <button >copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<rxstudio-control-scene></rxstudio-control-scene>-->
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <rxstudio-creation-menu *ngIf="showCreationMenu"></rxstudio-creation-menu>
    <div fxFlex fxLayout="column" class="sceneContainer">
      <div fxFlex="40px" class="controlScene" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="checks">
          <button (click)="showCreationMenuToggle()" [class.active]="showCreationMenu" title="show tools"><i class="material-icons">build</i></button>
          <button (click)="toggleShowColdobservable()" [class.active]="showColdStream" title="show cold observables"><i class="material-icons">skip_next</i></button>
        </div>
        <div class="buttons">
          <button (click)="removeSelectedItem()" title="remove selected item"><i class="material-icons">delete</i></button>
          <button (click)="replay()" title="replay"><i class="material-icons">repeat</i></button>
        </div>
      </div>
      <rxstudio-scene fxFlex></rxstudio-scene>
    </div>
    <rxstudio-property-inspector></rxstudio-property-inspector>
  </div>
  <rxstudio-status></rxstudio-status>
</div>
