$headColor:#746;
$rxColor:#ec0c8e;
$borderColor:#eee;
$backColor:#fff;

.app{
  height:100%;
  padding:0;

  .header{
    background: $headColor;
    h1{
      margin:0;
      padding: 9px;
      font-size: 1rem;
      color:$rxColor;
    }
    button{
      border:none;
      background: lighten($headColor,10%);
      color:#eee;
      border-radius: 3px;
      margin:5px;
      padding:5px 15px;
      i{
        font-size:inherit;
      }
    }
  }
  .sceneContainer {
    border:1px solid $borderColor;
    .controlScene {
      padding: 5px;
      button {
        border: 1px solid $borderColor;
        background: darken($backColor,5%);
        border-radius: 9px;
        min-width: 30px;
        height: 30px;
        color: $rxColor;
        line-height: 12px;
        font-size: 1rem;
        font-weight: bold;
        outline: none;
        i{
          font-size:inherit;
        }
        &.active {
          background: $rxColor;
          color: $backColor;
        }
      }
    }
  }
  rxstudio-creation-menu{
    width:200px;
    overflow-y: auto;
    overflow-x:hidden;
  }
  rxstudio-property-inspector{
    width:400px;
  }
  rxstudio-status{
    height:20px;
  }
}

.overlay{
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index: 5;
  background: rgba(0,0,0,0.2);
  .shareBox{
    position: absolute;
    width: 300px;
    right: 0;
    top: 30px;
    background: #fff;
    border:1px solid silver;
    border-radius: 3px;
    .shareBoxContainer{
      padding: 10px;
      h2{
        margin:0;
      }
      div.copyBox {
        display:flex;
        input {
          flex: 1 1 auto;
          padding: 6px 3px;
          border: 1px solid #ddd;
        }
        button {
          padding: 6px;
          margin: 0;
        }
      }
    }
  }
}
