<div *ngIf="selectedItem; else notSelected">

  <!--Node Properties-->
  <div *ngIf="selectedItem.data">
    <div class="operatorInfo">
      <b>title:</b><span>{{selectedItem.data.title}}</span>
      <a [href]="selectedItem.data.link">link</a>
      <p>{{selectedItem.data.desc}}</p>
    </div>
    <div class="properiesEditor" *ngIf="selectedItem.data.propertiesType">
        <rxstudio-property-component [properties]="selectedItem.data.properties" [type]="selectedItem.data.propertiesType"></rxstudio-property-component>
    </div>
    <div class="codeGenerated">
        <textarea [value]="selectedItem.data.toString()"></textarea>
    </div>
  </div>


  <!--EDGE Properties-->
  <div *ngIf="selectedItem.source">
    <div>{{selectedItem.source.data.constructor.name+'=>'+selectedItem.target.data.constructor.name}}</div>
    <div><b>code:</b>
      <div>
        <textarea [value]="selectedItem.source.data.toString()+selectedItem.target.data.toString()"></textarea>
      </div>
    </div>
  </div>
</div>

<ng-template #notSelected>
  <div class="notSelected">
    select a node to see whats going on.
  </div>
</ng-template>
