<div *ngIf="selectedItem; else notSelected">

  <!--Node Properties-->
  <div *ngIf="selectedItem.data">
    <div class="operatorInfo">
      <b>title:</b><span>{{selectedItem.data.title}}</span>
      <a [href]="selectedItem.data.link">link</a>
      <p>{{selectedItem.data.desc}}</p>
    </div>
    <div class="properiesEditor">
      <div *ngFor="let propType of selectedItem.data.propertiesType">

        <!--number type-->
        <div *ngIf="propType.type=='number'">
          <b>{{propType.name}}</b>
          <input [placeholder]="propType.name" [title]="propType.desc" type="number" [(ngModel)]="selectedItem.data.properties[propType.name]" (change)="dataChanged()">
        </div>

        <!--string type-->
        <div *ngIf="propType.type=='string'">
          <b>{{propType.name}}</b>
          <input [placeholder]="propType.name" [title]="propType.desc" [(ngModel)]="selectedItem.data.properties[propType.name]" (change)="dataChanged()">
        </div>

        <!--function type-->
        <div *ngIf="propType.type=='function'">
          <b>{{propType.name}}</b>
          <select (change)="dataChanged()">
            <option *ngFor="let opt of propType.types" [title]="opt.desc">opt.name</option>
          </select>
        </div>

        <!--list type-->
        <div *ngIf="propType.type=='list'">
          <b>{{propType.name}}</b>
          <a (click)="selectedItem.data.properties[propType.name].push({})">add</a>
          <ul>
            <li *ngFor="let prop of selectedItem.data.properties[propType.name]">
              <div *ngIf="propType.params">
                <input *ngFor="let param of propType.params" [type]="param.type" [(ngModel)]="prop[param.name]" [placeholder]="param.name" (change)="dataChanged()"/>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="codeGenerated">
        <textarea [value]="selectedItem.data.toString()"></textarea>
    </div>
  </div>


  <!--EDGE Properties-->
  <div *ngIf="selectedItem.source">
    <div>{{selectedItem.source.data.name+'=>'+selectedItem.target.data.name}}</div>
    <div><b>code:</b>
      <div>
        <textarea [value]="selectedItem.source.data.toString()+selectedItem.target.data.toString()"></textarea>
      </div>
    </div>
  </div>
</div>

<ng-template #notSelected>
  <div class="notSelected">
    select a node to see whats going on.
  </div>
</ng-template>
