.app{
  height:100%;
  padding:0;

  .header{
    background: #7d4c61;
    h1{
      margin:0;
      padding: 9px;
      font-size: 1rem;
      color:#ec0c8e;
    }
    button{
      border:none;
      background: #968;
      color:#eee;
      border-radius: 3px;
      margin:5px;
      padding:5px 15px;
    }
  }
  .sceneContainer {
    border:1px solid #eee;
    .controlScene {
      padding: 5px;
      button {
        border: 1px solid #eaeaea;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 9px;
        min-width: 30px;
        height: 30px;
        color: #07f;
        line-height: 12px;
        font-size: 12px;
        font-weight: bold;
        outline: none;
        &.active {
          background: #0077bb;
          color: white;
        }
      }
    }
  }
  rxstudio-creation-menu{
    width:200px;
    overflow-y: auto;
    overflow-x:hidden;
  }
  rxstudio-property-inspector{
    width:400px;
  }
  rxstudio-status{
    height:20px;
  }
}
