<div class="header">
  <button (click)="share()"  title="share">Share</button>
  <a href="https://github.com/fingerpich/rx-visualization#visualizing-examples" class="examples">Examples</a>
  <div class="overlay" *ngIf="serializedUrl" (click)="serializedUrl='';">
    <div class="shareBox" (click)="$event.stopPropagation();">
      <div class="shareBoxContainer">
        <h5>Copy the link</h5>
        <div class="copyBox">
          <input #inputTarget (click)="inputTarget.select()" [value]="serializedUrl">
          <button [ngxClipboard]="inputTarget">copy</button>
        </div>
        <div class="prhint"><small>If you find your visualization useful, <a href="https://github.com/fingerpich/rx-visualization/pulls">create a pull request</a> and add the link into the README.md</small></div>
      </div>
    </div>
  </div>
</div>
