$primaryColor:#ec1e84;
$linkColor:#555;
$borderColor:#aaa;
$selectedColor:$primaryColor;
:host{
  position: relative;

  /deep/ svg {
    .conceptG text {
      pointer-events: none;
    }

    .resultItems{
      circle{
        fill:#07f;
      }
      text{
        fill:white;
      }
    }

    marker {
      fill: $linkColor;
    }
    g.conceptG {
      cursor:pointer;
      circle {
        fill: #fff;
        &.outerCircle{
          stroke-width: 1px;
          stroke: #aaa;
          &:hover{
            fill:#eee;
          }
        }
      }
      text {
      }
      &:hover {

      }
      &.selected {
        circle {
          fill: $selectedColor;
        }
        .outerCircle:hover {
          fill: darken($selectedColor, 7%);
        }
      }
    }
    g.connect-node circle {
      fill: #eee;
    }

    path.link {
      fill: none;
      cursor:pointer;
      stroke: $linkColor;
      stroke-width: 6px;
    }

    path.link:hover {
      stroke: lighten($linkColor,50%);
    }

    path.link.hidden {
      stroke-width: 0;
    }

    path.link.selected {
      stroke: $selectedColor;
    }
  }
}
