$primaryColor:#ec1e84;
$linkColor:#555;
$borderColor:#aaa;
$selectedColor:$primaryColor;
:host{
  border:1px solid #eee;

  .controlScene {
    position: absolute;
    padding:5px;
    z-index: 1;
    button {
      border: 1px solid #eaeaea;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 9px;
      width: 30px;
      font-size: 22px;
      height: 30px;
      color: #07f;
      line-height: 12px;
      outline: none;
    }
  }

  /deep/ svg {
    .conceptG text {
      pointer-events: none;
    }

    marker {
      fill: $linkColor;
    }
    g.conceptG {
      cursor:pointer;
      circle {
        fill: #fff;
        &.outerCircle{
          stroke-width: 1px;
          stroke: #aaa;
          &:hover{
            fill:#eee;
          }
        }
      }
      text {
      }
      &:hover {

      }
      &.selected {
        circle {
          fill: $selectedColor;
        }
        .outerCircle:hover {
          fill: darken($selectedColor, 7%);
        }
      }
    }
    g.connect-node circle {
      fill: #eee;
    }

    path.link {
      fill: none;
      cursor:pointer;
      stroke: $linkColor;
      stroke-width: 6px;
    }

    path.link:hover {
      stroke: lighten($linkColor,50%);
    }

    path.link.hidden {
      stroke-width: 0;
    }

    path.link.selected {
      stroke: $selectedColor;
    }
  }
}
