@import "../../common";
$linkColor: #555;
$borderColor: $linkColor;
$outerCircleHoverColor: #eee;

$hoveredLink: lighten($primaryColor, 20%);

$selectedColor: lighten($primaryColor, 20%);
$selectedLink: lighten($primaryColor, 10%);
$selectedBorder: lighten($primaryColor, 50%);
:host{
  position: relative;

  /deep/ svg {
    .conceptG text {
      pointer-events: none;
    }

    .resultItems{
      circle{
        fill: #07f;
      }
      text{
        fill:white;
      }
    }

    marker {
      fill: $linkColor;
    }
    g.conceptG {
      cursor:pointer;
      circle {
        transition:fill 0.3s ease;
        fill: #fff;
        &:hover {
          fill: $outerCircleHoverColor;
        }
        &.outerCircle{
          transition:all 0.3s ease;
          stroke-width: 1px;
          stroke: $borderColor;
          &:hover{
            fill:$outerCircleHoverColor;
            stroke: $outerCircleHoverColor;
          }
        }
      }
      text {
        fill:$borderColor;
      }
      &:hover {

      }
      &.selected {
        circle {
          transition:fill 0.3s ease;
          fill: $selectedColor;
          &.outerCircle {
            stroke: $selectedColor;
            &:hover {
              fill: darken($selectedColor, 7%);
            }
          }
        }
        text {
          fill:#fff;
        }
      }
    }
    g.connect-node circle {
      transition:fill 0.3s ease;
      fill: $outerCircleHoverColor;
    }

    path.link {
      fill: none;
      cursor:pointer;
      stroke: $linkColor;
      stroke-width: 6px;
    }

    path.link:hover {
      stroke: $hoveredLink;
    }

    path.link.hidden {
      stroke-width: 0;
    }

    path.link.selected {
      stroke: $selectedLink;
    }
  }
}
