$primaryColor:#ec0c8e;


html, body{
  height:100%;
}
body{
  margin:0;
}

@media only screen and (max-width: 400px) {
  .project-name{
    left: -49px!important;
    top: -34px!important;
  }
  .git-link{
    left: -65px !important;
    top: 20px !important;
    font-size: 0.5rem!important;
    padding: 5px 45px!important;
  }
}
